
<body>
  Thermostat

  <br>

  The temperature is: <div id="thermostat">temperature</div>
  Power Saving Mode: <div id="power-saving-status">power saving mode</div>
  Usage: <div id="usage">usage details</div>

  <button id="increase">Increase Temperature</button>
  <button id="decrease">Decrease Temperature</button>
  <button id="reset">Reset Temperature</button>
  <button id="power-saving-toggle">Toggle Powersaving</button>

  <script src="thermostatModel.js"></script>
  <script src="thermostatView.js"></script>
  <script src="thermostatController.js"></script>
  <script src="index.js"></script>

</body>
