
<body>
  Thermostat

  <br>

  The temperature is:

  <div id="thermostat">0</div>

  <script src="thermostatModel.js"></script>
  <script src="thermostatView.js"></script>
  <script src="thermostatController.js"></script>
  <script src="index.js"></script>

</body>
